<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/app.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container center-wrap">
    <div class="center-box">
      <div class="cardx formx">
        <h2>Записки</h2>
        <p>Быстро сохраняй идеи, дела и заметки. С картинками и ссылкой “поделиться”.</p>
        <div class="file-row" style="justify-content: flex-start;">
          <a href="/login" class="btnx primary">Войти</a>
          <a href="/register" class="btnx">Регистрация</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
